div{
    height: 200px;
    width: 200px;
    border: 1px;
    background-color:aqua;
    animation-name: example;
    animation-duration:6s;
    position: relative;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-direction: alternate;


}
@keyframes example{
    /* form{
        background-color:aqua;
    }
    to{
        background-color: brown; */
0% {background-color:rgb(255, 0, 0);top: 0;left:0;}
25% {background-color:rgb(239, 255, 9);top:0;left: 900px;}
50% {background-color:rgb(0, 255, 51);top:300px;left: 900px;}
75% {background-color:rgb(81, 0, 255);top:300px;left:0;}
100% {background-color:rgb(255, 0, 157);top:0;left: 0;}

    }
}