
img[alt="photo"] {
  border: 3px solid red;
}
img[title="image"] {
  border: 3px solid red;
}
input[type="text"]{
    background-color: black;
}
input[type="password"]{
    background-color: rgb(21, 0, 255);
}
input[type="radio"]{
    background-color: black;
}
input[type="checkbox"]{
    background-color: rgb(207, 255, 15);
}
p{
    
    background-color: brown;
    width: 500px;
    height:100px;
    padding-top: 50px;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;

}
a{
    text-decoration: none;
}

