.box1{
    width: 200px;
    height: 200px;
    background-color: blue;
    align-items: center;
    justify-content: center;
    display: flex;
}
.box2{
    width: 200px;
    height: 200px;
    background-color: rgb(212, 5, 5);
     align-items: center;
    justify-content: center;
    display: flex;
}
.box3{
    width: 200px;
    height: 200px;
    background-color: rgb(0, 255, 85);
     align-items: center;
    justify-content: center;
    display: flex;
}
.box4{
    width: 200px;
    height: 200px;
    background-color: rgb(255, 0, 238);
     align-items: center;
    justify-content: center;
    display: flex;
}
.box5{
    width: 200px;
    height: 200px;
    background-color: rgb(159, 5, 5);
     align-items: center;
    justify-content: center;
    display: flex;
}
.box6{
    width: 200px;
    height: 200px;
    background-color: rgb(255, 162, 0);
     align-items: center;
    justify-content: center;
    display: flex;
}
.box7{
    width: 200px;
    height: 200px;
    background-color: rgb(255, 223, 16);
     align-items: center;
    justify-content: center;
    display: flex;
    
}
.box8{
    width: 200px;
    height: 200px;
    background-color: rgb(23, 251, 255);
     align-items: center;
    justify-content: center;
    display: flex;
}
.container{
    display: flex;
    justify-content:center;
    border: 4px solid black;
    align-items: center;
    flex-wrap: nowrap;
    display: flex;
    
}