:root{
    --primary-color:#f38b15;
    --secondary-color:#2c3e50;
    --fint-size-base:16px;
    --spacing-unit:20px;
    --bgl:red;
}
body{
    font-size:var(--font-size-base);
    color:var(--secondary-color);
    background-color:#ecf0f1;
    font-family:Arial, Helvetica, sans-serif
}
header{
    background-color: var(--primary-color);
    padding:var(--spacing-unit);
    color:antiquewhite;
    text-align:center;
}
main{
    
}